<aside class="ad">
  <button id="home" aria-selected="true"><%= __("home") %></button>
  <button id="schedule" aria-selected="false"><%= __("my-schedule") %></button>
  <button id="eq" aria-selected="false"><%= __("eq") %></button>
  <button id="chat" aria-selected="false"><%= __("chat") %></button>
</aside>

<div id="home-container" class="tab-container">
  <h2>
    <%= __("welcome") %>,
    <%= user.name %>
  </h2>
</div>

<div id="schedule-container" class="tab-container">
  <h2><%= __("my-schedule") %></h2>
  <table class="styled-table schedule-table">
    <thead>
      <tr>
        <th><%= __("shift-start") %></th>
        <th><%= __("shift-end") %></th>
        <th><%= __("days") %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= user.shiftSchedule.startTime %></td>
        <td><%= user.shiftSchedule.endTime %></td>
        <td><%= user.shiftSchedule.days.join(", ") %></td>
      </tr>
    </tbody>
  </table>
</div>

<div id="eq-container" class="tab-container">
  <h2><%= __("eq") %></h2>
  <table class="styled-table eq-table">
    <thead>
      <tr>
        <th><%= __("name") %></th>
        <th><%= __("category") %></th>
        <th><%= __("prize") %></th>
      </tr>
    </thead>
    <tbody>
      <% if (equipment.length === 0) { %>
      <tr>
        <td colspan="3"><%= __("no-eq-available") %></td>
      </tr>
      <% } else {%>
      <% equipment.forEach(item => { %>
      <tr>
        <td><%= item.name %></td>
        <td class="capitalize"><%= item.category %></td>
        <td>$<%= Number(item.price).toFixed(2) %></td>
      </tr>
      <% }); %>
      <% } %>
    </tbody>
  </table>
</div>

<div id="chat-container" class="tab-container">
  <div id="user-list">
    <h3><%= __("users") %></h3>
    <ul id="users"></ul>
  </div>
  <div id="chat-box">
    <div id="messages">
      <h5 id="username"></h5>
    </div>
    <input type="text" id="message" placeholder="<%= __("type-a-message") %>" />
    <button id="send-button"><%= __("send") %></button>
  </div>
</div>

<script nonce="<%= nonce %>">
  const buttons = document.querySelectorAll("aside button");
  const containers = document.querySelectorAll(".tab-container");
  const params = new URLSearchParams(window.location.search);
  let activeTab = params.get("activeTab") || "home";

  function updateUI(tab) {
    containers.forEach((container) => (container.style.display = "none"));
    document.getElementById(`${tab}-container`).style.display = "block";
    buttons.forEach((btn) => btn.setAttribute("aria-selected", btn.id === tab));
    document.title = `${tab.charAt(0).toUpperCase() + tab.slice(1)} - Dashboard - DjLarkiboyLjudOchLjus`;
  }

  buttons.forEach((button) => {
    button.addEventListener("click", (e) => {
      const newTab = e.target.id;
      window.history.pushState(
        {},
        "",
        `${location.pathname}?activeTab=${newTab}`,
      );
      updateUI(newTab);
    });
  });

  window.onpopstate = () => {
    const params = new URLSearchParams(window.location.search);
    updateUI(params.get("activeTab") || "home");
  };

  updateUI(activeTab);
</script>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/com.js"></script>
