<li class="<%= c %>">
  <a href="/contact?n=<%= url %>"><%= __("contact") %></a>
</li>
<li class="<%= c %>">
  <a href="/privacy-policy"><%= __("privacy") %></a>
</li>
<li class="<%= c %>"><a href="/cookie-notice"><%= __("cookie") %></a></li>
<li class="<%= c %>"><a href="/browse"><%= __("browse") %></a></li>
<li class="<%= c %>"><a href="/faq"><%= __("faq") %></a></li>
<li class="<%= c %>"><a href="/status"><%= __("status") %></a></li>
