<header>
  <h1>
    <a href="/"
      ><img
        src="/favicon.ico"
        alt="Logo"
      /><%= title === "" ? "" : title + " - "
      %><%= __("title") %></a
    >
  </h1>

  <!-- Checkbox to toggle the hamburger menu -->
  <input type="checkbox" id="menu-toggle" class="menu-toggle-checkbox" />

  <!-- Hamburger icon (visible on mobile) -->
  <label for="menu-toggle" class="menu-toggle">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </label>

  <nav>
    <ul id="menu">
      <li><a href="/#services"><%= __("services") %></a></li>
      <li><a href="/#links"><%= __("links") %></a></li>
      <li><a href="/#gallery"><%= __("gallery") %></a></li>
      <li><a href="/about"><%= __("about") %></a></li>

      <!-- Dropdown for extra links (only on large screens) -->
      <li class="dropdown">
        <a href="/sitemap"><%= __("more") %>&nbsp;▼</a>
        <ul class="dropdown-menu">
          <%- include("dropdown", { c: "" }) %>
        </ul>
      </li>

      <!-- Extra links for mobile (Hidden on large screens) -->
      <%- include("dropdown", { c: "mobile-only" }) %>

      <% if (user) { %>
      <li class="username">
        <%= __("hello") %>,&nbsp;<i><%= user.name %></i
        ><img src="<%= user.image %>" alt="User image" />
      </li>
      <% if (user.Role === "Customer") {%>
      <li><a href="/user/cart"><%= __("cart") %></a></li>
      <% } else if (user.Role === "Worker") { %>
      <li><a href="/worker/dashboard"><%= __("dashboard") %></a></li>
      <% } else if (user.Role === "Admin") { %>
      <li><a href="/admin/dashboard"><%= __("dashboard") %></a></li>
      <% } %>
      <li><a href="/user/profile"><%= __("profile") %></a></li>
      <li><a href="/auth/logout"><%= __("logout") %></a></li>
      <% } else { %>
      <li><a href="/auth/login?n=<%= url %>"><%= __("login") %></a></li>
      <li><a href="/auth/register?n=<%= url %>"><%= __("register") %></a></li>
      <% } %>
    </ul>
  </nav>
</header>

<p id="activetab" hidden><%= activetab %></p>

<script nonce="<%= nonce %>">
  const activetab = document
    .querySelector("#activetab")
    .textContent.trim()
    .toLowerCase();
  const tablinks = document.querySelectorAll("nav #menu a"); // Select all links inside the list

  tablinks.forEach((link) => {
    if (link.textContent.trim().toLowerCase() === activetab) {
      link.classList.add("active"); // Add active class to the matching link
      link.removeAttribute("href");
    }
  });
</script>
