<div class="footer" id="footer">
  <div class="glow"></div>

  <div class="footer-content">
    <div class="footer-section about">
      <h1><%= __("title") %></h1>
      <p><%= __("footerDesc") %></p>
      <p><%- copyright %></p>
    </div>

    <div class="footer-section links">
      <h2><%= __("quickLinks") %></h2>
      <ul>
        <li><a href="/#"><%= __("home") %></a></li>
        <li><a href="/#services"><%= __("services") %></a></li>
        <li><a href="/#gallery"><%= __("gallery") %></a></li>
        <li><a href="/contact?n=<%= url %>"><%= __("contact") %></a></li>
        <li><a href="/privacy-policy"><%= __("privacy") %></a></li>
        <li><a href="/cookie-notice"><%= __("cookie") %></a></li>
        <li><a href="#"><%= __("backUp") %></a></li>
      </ul>
    </div>

    <div class="footer-section social">
      <h2><%= __("followUs") %></h2>
      <div>
        <a href="#">Instagram</a> | <a href="#">YouTube</a> |
        <a href="#">Facebook</a>
      </div>
    </div>

    <div class="footer-section contact">
      <h2><%= __("contactUs") %></h2>
      <p>
        <%= __("email") %>:
        <a href="mailto:info@djlarkiboy.com">info@djlarkiboy.com</a>
      </p>
      <p><%= __("phone") %>: <a href="tel:+46760244511">+46 76 024 45 11</a></p>
    </div>
  </div>
</div>
