<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-adsense-account" content="ca-pub-5671784078924834" />
    <title><!= title === "" ? "" : title + " - " !><!= __("title") !></title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <% if (h) { %>
    <%- include("../partials/header") %>
    <% } %>

    <!-- Flash Messages -->
    <div class="flash-messages">
      <% ['success', 'error', 'info', 'successWC', 'errorWC', 'infoWC',
      "warning", "warningWC"].forEach(type => { %>
      <% if
      (messages[type]) { %>
      <% messages[type].forEach(msg => { %>
      <div class="alert alert-<%= type %>">
        <%= msg %>
        <button>x</button>
      </div>
      <% }); %>
      <% } %>
      <% }); %>
    </div>

    <main class="<%= title.toLowerCase() %>"><%- body %></main>

    <div class="spacer"></div>

    <% if (h) { %>
    <%- include("../partials/footer") %>
    <% } %>

    <script nonce="<%= nonce %>">
      function removeParent() {
        this.parentElement.remove();
      }

      const alertButtons = document.querySelectorAll(".alert button");
      alertButtons.forEach((button) => {
        button.addEventListener("click", removeParent);
      });

      const spacer = document.querySelector(".spacer");
      switch ("<%= page %>") {
        case "admin dashboard":
          spacer.style.height = "600px";
          break;
        case "worker dashboard":
          spacer.style.height = "600px";
          break;
        default:
          spacer.style.height = "0";
          break;
      }

      document.addEventListener("keydown", (e) => {
        if (e.key === "Escape") {
          const alert = document.querySelectorAll(".alert")[0];
          if (alert) {
            alert.remove();
          }
        }
      });
    </script>
  </body>
</html>
