<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title || "" %> | DjLarkiboyLjudochLjus</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="icon" href="/img/logo.png" sizes="32x32" type="image/png" />
  </head>
  <body>
    <% if (h) { %> <%- include('../partials/header') %> <% } %>

    <div class="message">
      <% if (message) { %>
      <div class="alert <%= type %>">
        <p><%= message %></p>
      </div>
      <% } %>
    </div>

    <main><%- body %></main>

    <% if (h) { %> <%- include('../partials/footer') %> <% } %>

    <p id="url" style="display: none"><%= url %></p>

    <script src="/js/mess.js"></script>
  </body>
</html>
