<main class="container home">
  <h1 class="home">Browse Equipment</h1>
  <div class="equipment-grid">
    <% if (equipment.length > 0) { %> <% equipment.forEach(item => { %>
    <div class="equipment-item">
      <img
        src="<%= item.image %>"
        alt="<%= item.name %>"
        class="equipment-image"
      />
      <h2><%= item.name %></h2>
      <p><%= item.description %></p>
      <p><strong>Price: </strong>$<%= item.rentalPricePerDay %>/day</p>
      <a href="/equipment/<%= item._id %>" class="btn">Rent Now</a>
    </div>
    <% }); %> <% } else { %>
    <p>No equipment available at the moment.</p>
    <% } %>
  </div>
</main>
