<div class="question-container">
  <div class="question">
    <h3><%= __("faq-q1") %></h3>
  </div>
  <div class="answer">
    <p>
      <%= __("faq-a1") %>
    </p>
  </div>
</div>

<div class="question-container">
  <div class="question">
    <h3><%= __("faq-q2") %></h3>
  </div>
  <div class="answer">
    <p>
      <%= __("faq-a2") %>
    </p>
  </div>
</div>

<div class="question-container">
  <div class="question">
    <h3><%= __("faq-q3") %></h3>
  </div>
  <div class="answer">
    <p>
      <%= __("faq-a3") %><%= __("faq-issues-info") %>
      <a href="mailto:problems@djlarkiboy.com">problems@djlarkiboy.com</a
      ><%= __("faq-issues-info-2") %><a href="/contact"
        ><%= __("contact-form") %></a
      >
    </p>
  </div>
</div>

<div class="question-container">
  <div class="question">
    <h3>
      <%= __("faq-q4") %>
    </h3>
  </div>
  <div class="answer">
    <p>
      <%= __("faq-a4") %><%= __("faq-issues-info") %>
      <a href="mailto:problems@djlarkiboy.com">problems@djlarkiboy.com</a
      ><%= __("faq-issues-info-2") %><a href="/contact"
        ><%= __("contact-form") %></a
      >
    </p>
  </div>
</div>

<div class="question-container">
  <div class="question">
    <h3>
      <%= __("faq-q5") %>
    </h3>
  </div>
  <div class="answer">
    <p>
      <%= __("faq-a5") %><a href="/my-account">djlarkiboy.com/my-account</a
      >.<%= __("faq-a5-2") %><%= __("faq-issues-info") %>
      <a href="mailto:problems@djlarkiboy.com">problems@djlarkiboy.com</a
      ><%= __("faq-issues-info-2") %><a href="/contact"
        ><%= __("contact-form") %></a
      >
    </p>
  </div>
</div>

<script nonce="<%= nonce %>">
  document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll(".question-container").forEach((item) => {
      item.addEventListener("click", () => {
        item.classList.toggle("active");
        const answer = item.querySelector(".answer");
        answer.style.display =
          answer.style.display === "block" ? "none" : "block";
      });
    });
  });
</script>
