<aside>
  <form method="GET" action="/browse" class="browse-filter-form">
    <div>
        <label><%= __("search") %></label>
        <input type="text" name="search" value="<%= query.search || '' %>" placeholder="<%= __("search-placeholder") %>">
    </div>

    <div>
        <label><%= __("category") %></label>
        <select name="category" class="capitalize">
            <option value=""><%= __("all-categories") %></option>
            <% categories.forEach(category => { %>
              <option value="<%= category %>" <%= query.category === category ? 'selected' : '' %> class="capitalize">
                  <%= category %>
              </option>
            <% }); %>          
        </select>
    </div>

    <div>
        <label><%= __("prize-range") %></label>
        <input type="number" name="minPrice" placeholder="Min" value="<%= query.minPrice || '' %>">
        <input type="number" name="maxPrice" placeholder="Max" value="<%= query.maxPrice || '' %>">
    </div>

    <button type="submit"><%= __("apply-filters") %></button>
  </form>
</aside>

<hr>

<!-- Display Equipment -->
<table class="styled-table browse-table">
  <thead>
    <tr>
      <th><%= __("name") %></th>
      <th><%= __("category") %></th>
      <th><%= __("prize") %></th>
      <th><%= __("actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% equipment.forEach(item => { %>
      <tr>
        <td><%= item.name %></td>
        <td class="capitalize"><%= item.category %></td>
        <td>$<%= item.price %></td>
        <td>
          <a href="/equipment/<%= item._id %>">View</a>
          <% if (user.Role === "Admin") {%>
            <a href="/admin/equipment/<%= item._id %>">Edit</a>
          <% } %>
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>
