<section class="hero" id="hero">
  <div class="textdiv">
    <h1><%= __("welcome") %></h1>
    <p><%= __("homeDesc") %></p>
  </div>
</section>

<section class="services" id="services">
  <h2><%= __("oser") %></h2>
  <div class="service-grid">
    <div class="service-item">
      <h3><%= __("djServices") %></h3>
      <p><%= __("djServicesDesc") %></p>
    </div>
    <div class="service-item">
      <h3><%= __("soundSystem") %></h3>
      <p><%= __("soundSystemDesc") %></p>
    </div>
    <div class="service-item">
      <h3><%= __("lightSoul") %></h3>
      <p><%= __("lightSoulDesc") %></p>
    </div>
    <div class="service-item">
      <h3><%= __("eventPlan") %></h3>
      <p><%= __("eventPlanDesc") %></p>
    </div>
  </div>
  <a href="/book" class="btn"><%= __("booknow") %></a>
</section>

<section class="links" id="links">
  <h1><%= __("links") %></h1>
  <a href="/about" class="btn"><%= __("learnMore") %></a>
  <a href="/faq" class="btn"><%= __("faq") %></a>
  <a href="/blog" class="btn"><%= __("latestNews") %></a>
  <a href="/videos" class="btn"><%= __("watchVideos") %></a>
  <a href="/music" class="btn"><%= __("listenToMusic") %></a>
  <a href="/contact" class="btn"><%= __("contactUs") %></a>
</section>

<section class="gallery" id="gallery">
  <h2><%= __("gallery") %></h2>
  <div class="gallery-grid">
    <% gallery.forEach((img) => { %>
    <img src="<%= img.src %>" alt="<%= img.title %>" />
    <% }) %>
  </div>
</section>

<script nonce="<%= nonce %>">
  const videoLink = document.querySelector('.links a[href="/videos"]');
  const musicLink = document.querySelector('.links a[href="/music"]');

  videoLink.addEventListener("click", (e) => {
    e.preventDefault();
    window.open(
      `/url?url=${encodeURIComponent("https://youtube.com/@djlarkiboy")}`,
    );
  });

  musicLink.addEventListener("click", (e) => {
    e.preventDefault();
    window.open(
      `/url?url=${encodeURIComponent("https://open.spotify.com/user/31qzfjq75cbpqyrj2ibgybu2ycpq?si=2638af916f004402")}`,
    );
  });
</script>
