<form action="/auth/login" method="post">
  <div class="form-part">
    <label for="email"><%= __("email") %>:</label>
    <input type="email" id="email" name="email" required readonly />
  </div>

  <div class="form-part">
    <label for="password"><%= __("password") %>:</label>
    <input type="password" id="password" name="password" required />
  </div>

  <input type="hidden" name="n" id="n" value="/" />
  <button type="submit"><%= __("login") %></button> |
  <button id="SA"><%= __("sa") %></button>
</form>

<script nonce="<%= nonce %>">
  document.addEventListener("DOMContentLoaded", function () {
    const email = sessionStorage.getItem("email");
    const n = new URLSearchParams(window.location.search).get("n");

    if (email) {
      document.getElementById("email").value = email;
    } else {
      window.location.replace("/auth/login");
    }

    if (n) {
      document.getElementById("n").value = n;
    }

    document.getElementById("SA").addEventListener("click", function (event) {
      event.preventDefault(); // Prevent the default form submission
      window.location.href = "/auth/login"; // Redirect to the login page
    });

    document.querySelector("form").addEventListener("submit", (event) => {
      event.preventDefault(); // Prevent the default form submission
      sessionStorage.removeItem("email"); // Clear the email from session storage
      event.target.submit(); // Submit the form programmatically
    });
  });
</script>
