<script src="/socket.io/socket.io.js"></script>

<aside class="ad">
  <button id="home" aria-selected="true"><%= __("home") %></button>
  <button id="workers" aria-selected="false"><%= __("workers") %></button>
  <button id="eq" aria-selected="false"><%= __("manage-eq") %></button>
  <button id="bookings" aria-selected="false"><%= __("bookings") %></button>
  <button id="chat" aria-selected="false"><%= __("chat") %></button>
  <button id="reg-admin" aria-selected="false"><%= __("reg-admin") %></button>
  <button id="reg-worker" aria-selected="false"><%= __("reg-worker") %></button>
  <button id="status" aria-selected="false"><%= __("status") %></button>
</aside>

<div id="home-container" class="tab-container">
  <h2>
    <%= __("welcome") %>,
    <%= user.name %>
  </h2>
</div>

<div id="workers-container" class="tab-container">
  <h2><%= __("workers") %></h2>
  <table class="styled-table workers-table">
    <thead>
      <tr>
        <th><%= __("name") %></th>
        <th><%= __("work-title") %></th>
        <th><%= __("department") %></th>
        <th><%= __("shift-schedule") %></th>
      </tr>
    </thead>
    <tbody>
      <% if (workers.length === 0) { %>
      <tr>
        <td colspan="4"><%= __("no-workers-available") %>.</td>
      </tr>
      <% } else { %>
      <% workers.forEach(worker => { %>
      <tr>
        <td><%= worker.name %></td>
        <td><%= worker.jobTitle %></td>
        <td><%= worker.department %></td>
        <td>
          <%= `${worker.shiftSchedule.startTime} - ${worker.shiftSchedule.endTime} (${worker.shiftSchedule.days.join(", ")})` %>
        </td>
      </tr>
      <% }); %>
      <% } %>
    </tbody>
  </table>
</div>

<div id="eq-container" class="tab-container">
  <h2><%= __("manage-eq") %></h2>
  <table class="styled-table eq-table">
    <thead>
      <tr>
        <th><%= __("name") %></th>
        <th><%= __("category") %></th>
        <th><%= __("prize") %></th>
        <th><%= __("actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% if (equipment.length === 0) { %>
      <tr>
        <td colspan="4"><%= __("no-eq-available-at-the-moment") %></td>
      </tr>
      <% } else {%>
      <% equipment.forEach(item => { %>
      <tr>
        <td><%= item.name %></td>
        <td class="capitalize"><%= item.category %></td>
        <td>$<%= Number(item.price).toFixed(2) %></td>
        <td>
          <a href="/equipment/<%= item._id %>">View</a>
          <a href="/admin/equipment/<%= item._id %>">Edit</a>
        </td>
      </tr>
      <% }); %>
      <% } %>
    </tbody>
  </table>
</div>

<div id="bookings-container" class="tab-container">
  <h2><%= __("manage-bookings") %></h2>

  <table class="styled-table bookings-table">
    <thead>
      <tr>
        <th><%= __("customer") %></th>
        <th><%= __("eq") %></th>
        <th><%= __("start-date") %></th>
        <th><%= __("end-date") %></th>
        <th><%= __("status") %></th>
        <th><%= __("actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% if (bookings.length === 0) { %>
      <tr>
        <td colspan="6"><%= __("no-bookings-available") %></td>
      </tr>
      <% } else { %>
      <% bookings.forEach(booking => { %>
      <tr>
        <td><%= booking.customer.name %></td>
        <td><%= booking.equipment.map(item => item.name).join(", ") %></td>
        <td><%= booking.startDate.toLocaleDateString() %></td>
        <td><%= booking.endDate.toLocaleDateString() %></td>
        <td><%= booking.status %></td>
        <td>
          <a href="/admin/bookings/<%= booking._id %>">View</a>
          <a href="/admin/bookings/<%= booking._id %>/edit">Edit</a>
        </td>
      </tr>
      <% }); %>
      <% } %>
    </tbody>
  </table>
</div>

<div id="chat-container" class="tab-container">
  <div id="user-list">
    <h3><%= __("users") %></h3>
    <ul id="users">
      <% users.forEach(user => { %>
      <li id="user" class="user-item" data-id="<%= user._id %>">
        <span class="user-name"><%= user.name %></span>
      </li>
      <% }); %>
    </ul>
  </div>

  <div id="chat-box">
    <h3><%= __("chatting-with") %>&nbsp;<span id="recipient"></span></h3>
    <div id="messages"></div>
    <input type="text" id="message" placeholder="<%= __("type-a-message") %>" />
    <button id="send-button"><%= __("send") %></button>
  </div>
</div>

<div id="reg-container" class="tab-container">
  <form action="" method="post">
    <h2></h2><br>
    <div class="form-part">
      <label for="name"><%= __("name") %>:</label>
      <input type="text" id="name" name="name" required />
    </div>

    <div class="form-part">
      <label for="email"><%= __("email") %>:</label>
      <input type="email" id="email" name="email" required />
    </div>

    <div class="form-part">
      <label for="password"><%= __("password") %>:</label>
      <input type="password" id="password" name="password" required />
    </div>

    <div class="form-part">
      <label for="confirmPassword"><%= __("conf-password") %>:</label>
      <input
        type="password"
        id="confirmPassword"
        name="confirmPassword"
        required
      />
    </div>

    <button type="submit"><%= __("register") %></button>
  </form>
</div>

<div id="status-container" class="tab-container">
  <iframe src="/status?monitors=Dj%20Larkiboy%20Events" frameborder="0"></iframe>
</div>

<script nonce="<%= nonce %>">
  const buttons = document.querySelectorAll("aside.ad button");
  const containers = document.querySelectorAll(".tab-container");

  // Get active tab from URL
  const params = new URLSearchParams(window.location.search);
  let activeTab = params.get("activeTab") || "home";

  function updateUI(tab) {
    // Hide all containers
    containers.forEach((container) => (container.style.display = "none"));    

    if (tab.startsWith("reg-")) {
      document.querySelector("#reg-container").style.display = "block";

      let formAction = "";
      let h2Text = ""

      switch (tab) {
        case "reg-admin":
          formAction = "/auth/register/admin";
          h2Text = "<%= __("reg-admin") %>";
          break;
        case "reg-worker":
          formAction = "/auth/register/worker";
          h2Text = "<%= __("reg-worker") %>";
          break;
        default:
          break;
      }

      document.querySelector("#reg-container form").action = formAction;
      document.querySelector("#reg-container form h2").textContent = h2Text
    } else {
      document.getElementById(`${tab}-container`).style.display = "block";
    }

    // Update button selection
    buttons.forEach((btn) => btn.setAttribute("aria-selected", btn.id === tab));

    const tabBtn = document.querySelector(`button#${tab}`);

    // Update document title
    document.title = `${tabBtn.textContent} - <%= __("dashboard") %> - <%= __("title") %>`;
  }

  buttons.forEach((button) => {
    button.addEventListener("click", (e) => {
      const newTab = e.target.id;
      const url = new URL(window.location);
      url.searchParams.set("activeTab", newTab); // Replaces existing or adds new
      
      window.history.pushState(
        {},
        "",
        url.toString()
      );
      updateUI(newTab);
    });
  });

  // Handle back/forward navigation
  window.onpopstate = () => {
    const params = new URLSearchParams(window.location.search);
    const newTab = params.get("activeTab") || "home";
    updateUI(newTab);
  };

  // Initialize UI on page load
  updateUI(activeTab);
</script>

<script nonce="<%= nonce %>">
  const userid = "<%= user._id %>";
</script>

<script src="/js/com.js"></script>
